[submodule "NauEnginePublic"]
	path = NauEngine
	url = git@github.com:maksimus57/NauEnginePublic.git
[submodule "NauEditorPublic"]
	path = NauEditor
	url = git@github.com:maksimus57/NauEditorPublic.git
[submodule "as"]
	path = NauAS
	url = git@github.com:maksimus57/as.git
